mat-sidenav-container {
    height: 100%;
}

mat-sidenav {     
    padding: 1rem;

    a {
        display: grid;
        grid-template-columns: min-content 1fr;
        column-gap: 0.25rem;
        align-items: center;
        padding-top: 1rem;
    }
}

mat-sidenav-content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}